body{
    background-color: beige;
    width: 100%;
}

.meta1{

    padding: 30px;
    margin: 100px 100px;
    border: 1px solid red;
}

.meta2{
   /* width: 33.33%;*/
    height: 33.33%;
    padding: 50px;
    margin: 100px 100px;
    border: 1px solid blue;
}

.meta3{
    /*width: 33.33%;*/
    height: 33.33%;
    padding: 50px;
    margin: 100px 100px;
    border: 1px solid green;
}

#fecha{

    padding-left: 250px;
}